@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 20px;
  @apply bg-[#f3f6ef];
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  @apply overflow-x-hidden bg-[#f3f6ef];
}

* {
  @apply font-sans text-[#0B1E5B];
}

.slider-wrapper {
  @apply rounded-lg;
}
